<h1>Editing Projection</h1>
<hr/>
<div class="jumbotron">
	<%= render 'form' %>
	<%= link_to 'Back', @projection, data: { confirm: 'Are you sure to give up your change?' }, class: "btn btn-default", style: "float:left;" %>
</div>
